@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3> 
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<button class="btn btn-light">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</button>
<button class="btn btn-light">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</button>
<button class="btn btn-light">@Html.ActionLink("Back to list", "Index")</button>